@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff') format('woff');
}

@font-face {
    font-family: 'KoPubDotumMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff') format('woff');
}

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
}

.Apptextbox>.Appimg {
    padding: 40px 80px 40px 80px;
    float: left;
    max-width: 50%;
    max-height: 600px;
    max-width: 600px;

}

.Apptextbox>.h1 {
    font-weight: 400;
    word-break: keep-all;
    font-size: 50px;
    color: #A3DA8D;
    font-family: 'NEXON Lv1 Gothic OTF Light';
    font-weight: normal;
    font-style: normal;
    position: relative;
    Top: 10px;
    left: 40px;
}

.Apptextbox>.Apptext {
    position: relative;
    Top: 10px;
    left: 40px;
    word-break: keep-all;
    color: #555555;
    font-family: 'GmarketSansLight';
    font-weight: normal;
    font-style: normal;

    /* padding: 0px 16px 0px 16px; */
}

@media screen and (max-width : 1053px) {
    .Apptextbox>.Appimg {
        padding: 0px;
        float: left;
        height: 30%;
        min-width: 240px;
        max-height: 400px;
        padding: 20px 40px 20px 40px;
    }

    .Apptextbox{
        text-align: left;
    }
    .Apptextbox>.h1 {
        font-weight: 400;
        word-break: keep-all;
        font-size: 40px;
        color: #A3DA8D;
        font-family: 'NEXON Lv1 Gothic OTF Light';
        font-weight: normal;
        font-style: normal;
        position: relative;
        Top: 10px;
        left: 0px;
    }

    .Apptextbox>.Apptext {
        position: relative;
        Top: 10px;
        left: 0px;
        word-break: keep-all;
        color: #555555;
        font-family: 'GmarketSansLight';
        font-weight: normal;
        font-style: normal;

        /* padding: 0px 16px 0px 16px; */
    }
}

@media screen and (max-width : 500px) {
    .Apptextbox>.Appimg {
        padding: 0px;
        float: left;
        width: 45%;
        min-width: 240px;
        max-width: 60%;
        max-height: 500px;
        max-width: 480px;
    }

    .Apptextbox>.h1 {
        font-weight: 400;
        word-break: keep-all;
        font-size: 40px;
        color: #A3DA8D;
        font-family: 'NEXON Lv1 Gothic OTF Light';
        font-weight: normal;
        font-style: normal;
        position: relative;
        Top: 10px;
        left: 0px;
    }

    .Apptextbox>.Apptext {
        position: relative;
        Top: 10px;
        left: 0px;
        word-break: keep-all;
        color: #555555;
        font-family: 'GmarketSansLight';
        font-weight: normal;
        font-style: normal;

        /* padding: 0px 16px 0px 16px; */
    }
}