
.Download {
    text-align: left;
    padding: 0px 60px 0px 60px;
}
.Download>.h1 {
    position: relative;
    Top : 10px;
    left: 40px;
    word-break: keep-all;
    font-size: 50px;
    color: #A3DA8D;
    
}
.Download>.h2 {
    position: relative;
    Top : 10px;
    left: 40px;
    font-size: 40px;
    color: #57CC99;
    
}
.Download>span {
    position: relative;
    Top : 10px;
    left: 40px;
    word-break: keep-all;
    
    font-size:18px;
    color: black;
}
.Download>span>a {
    color: rgb(0, 197, 89);
    text-decoration : none;
}

.Download img {
    padding: 16px;
    float: left;
    width: 60%;
    min-width: 320px;
    max-width: 50%;
    /* max-width: 480px; */
}