@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ELAND_Choice_L';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_L.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RixYeoljeongdo_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}





.Slideshowul{
    width: auto;
    height: 720px;
    
}
.Slideshowli1 {
    list-style: none;
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

.Slideshowli2 {
    list-style: none;
    display: inline-block;
    width: 0%;
    vertical-align: middle;
}

.Slideshowul2 {
    display: block !important;
    list-style: none;
}

.SlideshowTitle {
    font-size: 50px;
    color: #98D680;
    font-family: 'NEXON Lv1 Gothic OTF Light';
     font-weight: normal;
    font-style: normal;
    
}

.SlideshowName {
    font-size: 40px;
    color: #4EC993;
    letter-spacing: 4px;
    font-family: 'KoPubDotumMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff') format('woff');
   font-weight: normal;
   font-style: normal;
    
}

.SlideshowSubs {
    font-size: 20px;
    color: #555555;
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    
}

@media screen and (max-width : 1083px) {
    .Slideshowul{
        width: 100%;
        height: 1000px;
    }
    .Slideshowli1 {
        text-align: center;
    }
    .Slideshowul2 {
        width: 100%;
        text-align: left;
    }
    .Slideshowli2 {
        position: relative;
        Top : 100px;
        list-style: none;
        display: inline-block;
        width: 100%;
        vertical-align: middle;
    }
}