.designbutton {
    text-align: left;
    padding: 20px;
    left: 40px;
    right: 20px;
    top: 30px;

}

.designbutton button {
    position: relative;
    border-color: white;
    word-break: keep-all;
    border-radius: 15px;
    padding: 1px 80px 1px 80px;
    font-size: 35px;
    /* min-width: 60px; */
    background: linear-gradient(45deg,
            #1aeba5 0%,
            #23ad96 100%);
    /* #23ad96; */
    color: white;
    text-decoration: none;
}

.designbutton button:hover {
    background: linear-gradient(90deg,
            #38eed0 0%,
            #28ceb2 100%);
    transform: scale(1.05);
}

.designbutton button:active {
    transform: scale(0.95);
}


.designbutton button:hover::after {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid #28ceb2;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

@media screen and (max-width : 1053px) {
    .designbutton {
        text-align: center;
        padding: 20px;
        position: relative;
        Top: 0px;
        left: 0px;

    }

    .designbutton button {

        position: relative;
        left: 0px;
        right: 0px;
        top: 0px;
        width: 250px;
        word-break: keep-all;
        border-radius: 15px;
        padding: 1px 10px 1px 10px;
        font-size: 35px;

        background-color: #23ad96;
        color: white;
        text-decoration: none;

        font-family: 'ELAND_Choice_L';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_L.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
}

@media screen and (max-width : 500px) {
    .designbutton {
        text-align: center;
    }
}