/*
...normalize
*/


.menuBar{
    /* padding: 1rem; */
    
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
    left : 50%;
    right: 50%;
}
.tabs li{
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    color: rgb(0, 197, 89);
    padding: 1rem;
}

.tabs li:hover:after{
    transform: scaleX(1);
}

.tabs li:after{
    /* display:block;
    content: '';
    border-bottom: solid 3px green;  
    transform: scaleX(0);   */
    transition: transform 100ms ease-in-out;
}
.tabs li.active{
    color: white;
    height: 100%;
    background-color: aquamarine;
    border-radius: 15px;
    transform: scale(1.15);   
    transition: transform 100ms ease-in-out;
}
.tabs li.active:hover:after{
    transform: scaleX(1);
}
.textbox {
    padding: 0px 16px 0px 16px;
}
.textbox img {
    padding: 16px;
    float: left;
    max-width: auto;
    max-width: 480px;
}
.textbox > .start_button{
    text-align: center;
    vertical-align: middle;
    left: 60%;
}