.MenuBar {
    display: relative;
    width: 100%;
}

ul li {
    display: inline-block;
}

.MenuBarLiLogo {
    float: left;
}

.MenuBarLiLogoText {
    float: right;
    position: relative;
    left:-50%;
    margin-top: 20px;
}
.MenuBarLiLogoText div {
    float: left;
    position: relative;
    left:50%;
}

.MenuBarLiMenu {
    float: right;
}