.MenuBar ul li {
    list-style: none;
    display: inline-block;
    width: 33%;
    vertical-align: middle;
}

.MenuBarLiLogo img{
    float: left;
    height: 50px;
}

.MenuBarLiLogoText div{
    vertical-align: middle;
    color: green;
    font-weight: bold;
    font-size: 27px;
}

.MenuBarLiMenu {
    float: right;
}

.MenuBarMenuItem {
    margin: 15px;
}

.MenuBarLiUser {
    vertical-align: middle;
    height: 30px;
}
